@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        I'm Developer with 15 yers expirence.
    </p>

    <p>
        I'm work with .Net, nine years ago, Technologies with N Tiers Architectures.
    </p>

    <p>
        I'm very Proactive and Loves programing.
    </p>

    <p>
        I'm very Proactive and Loves programing.
    </p>



     <div  style="marker-offset: 300px; background-color: white;" id="logoScroll" >
        <p>
          <b>About Services</b>
        </p>
        <p>
        I Used
        </p>
        <p>
          DataLayer: This Service manage, all about Data Base, connections.
          
        </p>

        <p>
            BusinessLogic: This Services manage, all about logic, like to calcule winners.
        </P>

        

     </div>


</article>

<aside>
    <!--
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p> -->
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>